@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#0A0A0A] text-white;
  font-family: 'Inter', system-ui, sans-serif;
  overflow-x: hidden;
}